

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <header class="profileheader">
        <div class="row">
          <div class="container-img col-4">
            <img src="assets/perfil.jpg" alt="profile" class="profile">

            <button class="addphoto" type="submit">
              <!-- <img src="assets/addAPhoto.png" alt="addphoto" class="photo"> -->
              <span class="ico ico-addphoto ico-1x"></span>
            </button>
          </div>

          <div class="col-6">
            <h2>{{message}} {{name}}</h2>
            <h3>{{name}}{{lastName}}</h3>
            <h3>{{email}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus repellendus dolores illo libero non ab, optio ipsum? Tempora ad, aut autem eos adipisci impedit rerum magnam amet nobis nemo accusantium!</p>
          </div>
        </div>
      </header>

      <section class="feed">

        <div class="row">

          <div class="containerleft col-5">

            <div class="cardleft">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Similique rerum molestias dolor aperiam! Laborum delectus autem,
              enim recusandae asperiores minus, ea dolorem eaque, esse doloribus
              laudantium vitae facilis? Assumenda, nulla?</p>
            </div>
          </div>

          <div class="col-7">

            <div class="card">
              <header>
                <input class="estado" type="text | image | file" placeholder="¿what are you thinking?">
              </header>
              <hr>
              <section>
                <div class="row">
                  <div class="col">
                    <button class="addphotolibrary" type="submit">
                      <!-- <img src="assets/photolibrary.png" alt="photolibrary" class="photolibrary"> -->
                      <span class="ico ico-photolibrary ico-1x"></span>
                    </button>
                    Foto/vídeo
                  </div>
                </div>
                <span class="icon-edit"></span>
              </section>
            </div>
          </div>

        </div>

      </section>

    </div>
    <div class="col-1"></div>
  </div>
</div>
















