
<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              Cambio de contraseña
          </div>
          <div class="parrafo">
              Ingresa los datos requeridos para el cambio de la nueva contraseña
          </div>

          <form [formGroup]="userForm" method="post">

              <label>Contraseña actual</label>
              <input formControlName="oldPassword" type="password" name="oldPassword" placeholder="Ingrese su contraseña" >
              <div class="alert-danger" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
                <p class="container-error-message" *ngIf="oldPassword.errors?.['required']" >
                  *La contraseña es requerida
                 </p>
                 <p class="container-error-message" *ngIf="oldPassword.errors?.['minlength']" >
                  *Minimo 3 caracteres.
                 </p>
                 <p class="container-error-message" *ngIf="oldPassword.errors?.['maxlength']" >
                  *Máximo 10 caracteres.
                 </p>
              </div>
              <div class="alert-danger" >
                <p class="container-error-message">{{messageOldPassword}}</p>
              </div>

              <label>Ingrese nueva contraseña </label>
              <input formControlName="newPassword" type="password" name="newPassword" placeholder="Ingrese nueva contraseña">
              <div class="alert-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                <p class="container-error-message" *ngIf="newPassword.errors?.['required']" >
                  *La nueva contraseña es requerida
                 </p>
                 <p class="container-error-message" *ngIf="newPassword.errors?.['minlength']" >
                  *Minimo 3 caracteres.
                 </p>
                 <p class="container-error-message" *ngIf="newPassword.errors?.['maxlength']" >
                  *Máximo 10 caracteres.
                 </p>
              </div>
              <div class="alert-danger" >
                <p class="container-error-message">{{messageNewPassword}}</p>
              </div>

              <label>Repite la nueva contraseña</label>
              <input type="password" name="newPassword" placeholder="Repite la nueva contraseña" formControlName="checkPassword">
              <div class="alert-danger" *ngIf="checkPassword.invalid && (checkPassword.dirty || checkPassword.touched)">
                <p class="container-error-message" *ngIf="checkPassword.errors?.['required']" >
                  *La nueva contraseña es requerida
                </p>
                <picture class="container-error-message" *ngIf="checkPassword.errors?.['minlength']" >
                 *Minimo 3 caracteres.
                </picture>
                <p class="container-error-message" *ngIf="(checkPassword.errors?.['checkPasswords'] !== null)">
                *Las contraseñas no coinciden.
                </p>
              </div>
              <div class="alert-danger" >
                <p class="container-error-message">{{messageCheckPassword}}</p>
              </div>
              <!-- <pre>{{userForm.errors | json}}</pre> -->
              <button type="submit" (click)="changePassword()">Cambiar contraseña</button>

          </form>
          <div class="pie-form">
            <div class="alert-danger">
              <p class="container-error-message">{{message}}</p>
            </div>
            <div class="alert-danger">
              <p class="container-error-message">{{actualizacionPassword}}</p>
            </div>
          </div>
      </div>

      <div class="inferior">
          <a href="">Volver</a>
      </div>
  </div>
</div>









