p{
  /* color: #f9544b; */
  color: #ffffff;
  font-size: 20px;
  font-family: "Segoe UI";
  text-align: center;
}

.blue-snackbar {
  background-color: #1976d2;
}

/* div{
  background-color: #1976d2;
} */
